$beige: #e3e0cf;
$gray: #9fa8a3;
$teal: #c5d5cb;
$white: #ffffff;
$no-style: none;
$float-left: left;
$float-right: right;
$fixed: fixed;
$relative: relative;
$absolute: absolute;
$hundred: 100%;
$zero: 0;
$centered: center;

@mixin transform($transforms){
  -ms-transform: $transforms;
  -moz-transform: $transforms;
  -webkit-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

body{
  background-color: $beige;
  margin: $zero;
}
ul{
  list-style-type: $no-style;
}
a{
  color: $white;
  text-decoration: $no-style;
}
.opp-container{
  margin-top: 75px;
}
.about-container{
  margin-top: 150px;
  text-align: $centered;
}
input{
  outline: $zero;
  margin-bottom: 10px;
  padding: 10px;
}
/*************HEADER CSS*************/
header{
  background-color: $gray;
  height: 75px;
  position: $fixed;
  top: $zero;
  width: $hundred;
  z-index: 999;
}
.header-ul{
  position: $relative;
  top: 25px;
}
.header-ul li{
  color: $white;
  float: $float-left;
  font-size: 20px;
  padding: 0px 50px;
}
/**********************Navigation CSS**********************/
.side-nav{
  background-color: $teal;
  height: $hundred;
  margin: $zero;
  padding: $zero;
  position: $fixed;
  width: 250px;
}
.side-nav-container{
  position: $relative;
  top: 15%;
}
#show{
  bottom: $zero;
  position: $fixed;
}
/******************PAGE CONTENT CSS***************/
.content-container{
  height: $hundred;
  margin-left: 15%;
}
/*****************CARD CSS******************/
.card-select{
  position: absolute;
  right: 6%;
  top: 18px;
  @include transform(scale(2));
}
