$beige: #e3e0cf;
$gray: #9fa8a3;
$teal: #c5d5cb;
$white: #ffffff;
$no-style: none;
$float-left: left;
$float-right: right;
$fixed: fixed;
$relative: relative;
$absolute: absolute;
$hundred: 100%;
$centered: center;

body{
  background-color: $beige;
  margin: 0;
}
ul{
  list-style-type: $no-style;
}
a{
  color: $white;
  text-decoration: $no-style;
}
.opp-container{
  margin-top: 55px;
}
.about-container{
  margin-top: 150px;
  text-align: $centered;
}
input{
  outline: 0;
  margin-bottom: 10px;
  padding: 10px;
}
/*************HEADER CSS*************/
header{
  background-color: $gray;
  height: 75px;
  position: $fixed;
  top: 0;
  width: $hundred;
  z-index: 999;
}
.header-ul{
  position: $relative;
  top: 25px;
}
.header-ul li{
  color: $white;
  float: $float-left;
  font-size: 20px;
  padding: 0px 50px;
}
/**********************Navigation CSS**********************/
.side-nav{
  background-color: $teal;
  height: $hundred;
  margin: 0;
  padding: 0;
  position: $fixed;
  width: 250px;
}
.side-nav-container{
  position: $relative;
  top: 15%;
}
/******************PAGE CONTENT CSS***************/
.content-container{
  height: $hundred;
  margin-left: 15%;
}
