body {
  background-color: #e3e0cf;
  margin: 0; }

ul {
  list-style-type: none; }

a {
  color: #ffffff;
  text-decoration: none; }

.opp-container {
  margin-top: 75px; }

.about-container {
  margin-top: 150px;
  text-align: center; }

input {
  outline: 0;
  margin-bottom: 10px;
  padding: 10px; }

/*************HEADER CSS*************/
header {
  background-color: #9fa8a3;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

.header-ul {
  position: relative;
  top: 25px; }

.header-ul li {
  color: #ffffff;
  float: left;
  font-size: 20px;
  padding: 0px 50px; }

/**********************Navigation CSS**********************/
.side-nav {
  background-color: #c5d5cb;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 250px; }

.side-nav-container {
  position: relative;
  top: 15%; }

#show {
  bottom: 0;
  position: fixed; }

/******************PAGE CONTENT CSS***************/
.content-container {
  height: 100%;
  margin-left: 20%; }

/*****************CARD CSS******************/
.card-select {
  position: absolute;
  right: 6%;
  top: 18px;
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2); }
