  <div class="opp-container">
      <nav class="side-nav">
          <div class="side-nav-container">
              <h3>Status</h3>
              <ul>
                  <li><input type="checkbox" name="new">New</li>
                  <li><input type="checkbox" name="existing">Existing</li>
              </ul>
              <input id="show" class="btn btn-default btn-large btn-primary" type="button" name="show" value="Show Selected" />
          </div>
      </nav>
      <section class="content-container">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="w3-card-12 w3-margin" style="width:50%">
                          <img src="http://i.telegraph.co.uk/multimedia/archive/03474/Facebook_3474124b.jpg" alt="Norway" style="width:100%">
                          <div class="w3-container w3-center">
                              <p>Facebook Opporunities</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="w3-card-12 w3-margin" style="width:50%">
                          <img src="http://i.telegraph.co.uk/multimedia/archive/03474/Facebook_3474124b.jpg" alt="Norway" style="width:100%">
                          <div class="w3-container w3-center">
                              <p>Facebook Opporunities</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="w3-card-12 w3-margin" style="width:50%">
                          <img src="http://i.telegraph.co.uk/multimedia/archive/03474/Facebook_3474124b.jpg" alt="Norway" style="width:100%">
                          <div class="w3-container w3-center">
                              <p>Facebook Opporunities</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="w3-card-12 w3-margin" style="width:50%">
                          <img src="http://i.telegraph.co.uk/multimedia/archive/03474/Facebook_3474124b.jpg" alt="Norway" style="width:100%">
                          <div class="w3-container w3-center">
                              <p>Facebook Opporunities</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </section>
  </div>